= render "layouts/menu"

.container
  .row
    .col-xs-12
      .calendar-card
        .event-name
          %h4 Sanduíche Mix Salad
        .event-date.text-center
          %h3 23
          %small AGOSTO

      .calendar-card
        .event-name
          %h4 Salada Saladinha
        .event-date.text-center
          %h3 25
          %small AGOSTO

= render "layouts/bottom_nav"
